.container_button{
    display: flex;
    gap:1rem;
}

.btn_primary {
    background-color: lightseagreen;
    border-radius: .5rem;
    width:10rem;
}

.btn_primary:hover {
    background-color: white;
    color: lightseagreen;
    border: 1px solid lightseagreen;
    border-radius: .5rem;
    width:10rem;
}

.main__container {
    display: grid;
    gap: 1rem;
}