.sidebar {
    height:100%;
    width:var(--sidebar-width);
    background-color:#F5F5F5;
    position:fixed;
    z-index:102;
    overflow:auto;
    left:0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title__dashboard {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  color: black;
  font-size: 0.9rem;
  height: 3.5rem;
  background-color: #ffffff;
  font-weight: 800;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.nav_links {
  display: flex;
  flex-direction: column;
}

.link-menu {
  color:black;
  padding: 0.5rem 1.5rem;
  text-align:left;
  cursor: default;
}

.link-menu:hover {
  background: #D9D9D9;
  color:black;
}

.active {
  background: #D9D9D9;
  color:black;
}